@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

/* Header Section */
.site_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff8ec;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo */
.header_left .logo {
    height: 40px;
    width: auto;
    cursor: pointer;
}


/* Search bar */
.header_search {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search_input {
    width: 150px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
    transition: width 0.3s;
}

.search_input:focus {
    width: 200px;
    border: 1px solid green;
    color: #2e7d32;
    font-weight: 600;
}

.search_btn {
    padding: 9px 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background-color: #268026;
    color: white;
    cursor: pointer;
}

/* hamburger menu */
.navbar_toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #493f3f;
    transition: all 0.3s ease-in-out;
}

/* Main Menu */
.header_menu ul {
    display: flex;
    list-style: none;
    margin: 0 20px;
    padding: 0;
}

.header_menu ul li {
    margin: 0 10px;
}

.header_menu ul li a {
    text-decoration: none;
    color: #2e7d32;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    transition: color 0.3s;
    border: 1px solid rgb(0 128 0 / 38%);
    padding: 4px 13px;
    border-radius: 15px;
    
}

.header_menu ul li a:hover {
    border: 1.5px solid rgb(15, 209, 15);
}

/* Portfolio Circle */
.header_portfolio .portfolio_img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #4caf50;
    transition: transform 0.3s, box-shadow 0.3s;
}

.header_portfolio .portfolio_img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* toggle Cross & bar animation */
.navbar_toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.navbar_toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.navbar_toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Hero Section*/

.hero {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 11px 20px 11px 50px;
  
}

.Hero_bg_img {
  margin-left: 60px;
}

.Hero_bg_img img{
  max-height: 460px;
}

.hero_content {
  max-width: 600px;
  padding: 20px;
  background: #21783725;
  border-radius: 15px 260px 15px 15px;
}

.hero_content h1 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #268026;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero_content p {
  font-size: 1.1rem;
  color: #383e3b;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  padding: 12px 28px;
  border-radius: 999px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn.primary {
  background-color: #268026;
  color: white;
}

.btn.primary:hover {
  background-color: #0f530f;
}

.btn.secondary {
  background: transparent;
  color: #0f530f;
}

.btn.secondary:hover {
  text-decoration: underline;
}
















/* Flowers Page Flowers.html*/
 .flower_count_btn {
    padding: 3px 6px;
    margin: 15px 0 0 12px;
    right: 55px;
    bottom: 71px;
    color: #055613;
    border-radius: 5px;
    border: 1px solid green;
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s ease;
     
}

.flower_container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
}

.flower_section h1{
    text-align: center;
    margin-top: 6px;
    border: 1.5px solid rgb(7, 107, 7);
    padding: 8px;
    color: #09710c;
}

.flower_card {
  background-color: #e3f7e3; 
  border-radius: 15px;
  overflow: hidden; 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
}

.flower_card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

/* Image Styling */
.flower_card img {
  width: 100%;
  height: 220px; 
  object-fit: cover; 
}

/* Card content */
.flower_card h3 {
  text-align: center;
  color: #268026;
  margin: 12px 0 6px;
}

.flower_card p {
  flex-grow: 1;
  padding: 0 15px;
  text-align: center; 
  font-size: 14px;
  margin-bottom: 10px;
}

/* Button Styling */
.readMore_button {
  margin: 0 15px 15px 15px;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #268026;
  background-color: #fff;
  color: #268026;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.readMore_button:hover {
  background-color: #268026;
  color: #fff;
}














/* Footer bottom */
.footer {
  background: #ffffff;
  padding: 60px 20px;
  border-top: 1px solid #e0e0e0;
}

.footer_container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* Brand */
.brand p {
  margin: 15px 0;
  line-height: 1.6;
  color: #555;
}

.logo_box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_box img {
  width: 40px;
}

.logo_box h2 {
  font-size: 22px;
  color: #2e7d32;
}

.logo_box h2 span {
  color: #4caf50;
}


/* Social icons style */
.social_icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 15px;
  justify-content: flex-start;
}

.social_icons a {
  width: 45px;
  height: 45px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.3s ease;
  border: 1px solid black;
  color: #000000;
  overflow: hidden;
}

.social_icons a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.social_icons a:hover {
  background: green !important;
  color: #ffffff !important;
  border-color: green;
}

.social_icons a:hover i {
  color: #ffffff !important;
}

/* Footer columns */
.footer_col h3 {
  margin-bottom: 15px;
  color: #222;
}

.footer_col ul {
  list-style: none;
}

.footer_col ul li {
  margin-bottom: 10px;
}

.footer_col ul li a {
  text-decoration: none;
  color: #555;
  transition: 0.3s;
}

.footer_col ul li a:hover {
  color: #2e7d32;
}

.footer_col p {
  margin-bottom: 10px;
  color: #555;
  line-height: 1.5;
}

/* Footer bottom */

.footer_bottom {
  text-align: center;
  padding: 15px;
  background: #f5f5f5;
  color: #555;
  font-size: 14px;
  border-top: 1px solid #ddd;
}

/* Icons spacing */

.footer_col i {
  color: #2e7d32;
}
.footer_col i:hover {
  color: #ffffff;

}

/* Dark Mode Support */
.footer.dark {
  background: #1b1b1b;
  color: #ddd;
}

.footer.dark .footer_col h3,
.footer.dark .logo_box h2 {
  color: #fff;
}

.footer.dark .footer_col ul li a,
.footer.dark p {
  color: #ccc;
}

.footer.dark .footer_bottom {
  background: #111;
  color: #aaa;
}










/* ===== Popup Dialog ===== */
.popup_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.popup_box {
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 12px;
  text-align: center;
  width: 280px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  animation: popupFadeIn 0.3s ease;
}

.popup_box h2 {
  margin-bottom: 15px;
  color: #2e7d32;
}

.popup_buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.popup_btn {
  padding: 6px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.yes_btn {
  background: #2e7d32;
  color: white;
}

.no_btn {
  background: #c62828;
  color: white;
}

.popup_btn:hover {
  transform: scale(1.05);
}

.popup_message {
  font-size: 14px;
  color: #333;
  display: none;
}

@keyframes popupFadeIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}












/* Responsive Design */
@media screen and (max-width: 576px) {
    .header_portfolio .portfolio_img {
        display: none;
    }
    .site_header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

    .header_left .logo {
        height: 40px;
        width: auto;
    }

    .header_search {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    .search_input {
        width: 66px;
        padding: 10px 10px;
    }

    .search_input:focus {
        width: 75px;
    }

    .search_btn {
        padding: 10px 6px;
        
    }

    /* Header Part */
    .header_menu {
        align-items: flex-start;
        position: fixed;
        height: 100vh;
        width: 220px;
        top: 70px;
        right: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background: rgb(4 232 57 / 0%);
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        transition: transform 0.3s ease;
        z-index: 998;
        transform: translateX(100%);
    }

    /* show when active */
    .header_menu.active {
        transform: translateX(0);
    }

    .header_menu ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    .header_menu ul li a {
        display: block;
        padding: 12px 16px;
        border-radius: 12px;
        background: #2e7d32;
        color: #fff;
        text-align: center;
        font-weight: 600;
        transition: background 0.3s;
    }

    .header_menu ul li a:hover {
        background: #25a429;
        border-bottom: none;
        color: #ffffff;
    }

    /* Hamburger */
    .navbar_toggle {
        z-index: 1000;
        position: relative;
        display: block;
        margin-left: 25px;
    }

/* Hero Section */

    .hero_container {
        height: 90vh;
    }

    .hero_container h1 {
        font-size: 28px;
        padding: 10px 14px;
        line-height: 1.3;
    }


    /* Flowers Page Style */
  .flower_container{
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin: 15px;
  }

  .flower_card img{
    width: 100%;
  }

  /* Footer */
   .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Small Device */
@media (max-width: 480px) {
  .footer_container {
    grid-template-columns: 1fr;
  }

  .social_icons {
    justify-content: flex-start;
  }


}
 



/* ========== Responsive Hero Section =========== */



/* Small Mobile (max-width: 576px) */
@media (max-width: 576px) {
  .hero {
    padding: 15px;
    background-image: url(../images/Hero-BG-2.png);
    background-repeat: no-repeat;
    position: relative;
  }
  .hero_content{
    position: absolute;
    top: 50px;
    background: #43921036;
    padding: 55px 20px 95px 23px;
    border-radius: 15px 175px 15px 15px;
    margin: -30px 17px;
  }
 
  .hero_content h1 {
    font-size: 1.9rem;
    font-weight: 800;
    color: #054d05;

  }

  .hero_content p {
    font-size: 0.9rem;
    color: #000000;
  }

  .Hero_bg_img img {
    display: none;
  }

  .btn {
    padding: 10px 22px;
    font-size: 0.9rem;
  }
  .btn.secondary {
    color: #000000;
    border: 1px solid;
    background: #faebd759;
  }
}

